@charset "UTF-8";

body {
	font-family: 'Montserrat','Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
}

/**************** header ****************/

header {
	width: 100%;
	height: 181px;
	background-color: yellow;
	
	
}

.head {
	height: 105px;
	background-color: yellow;
}


.logo {
	height: 30px;
	width: 262px;
	margin: 48px auto;

}

.category {
	height: 57px;
	border-bottom-color: blue;
}

/***************** main *****************/


/**************** footer ****************/
